.titulo-principal__numero
  .h3
    color: #12263F
.color
  &-primario-claro
    background-color: #FFF9E2
.titulo_tarjeta
  &-amarilla
    background-color: #fed947
    border-radius: 20px 20px 0px 0px 
  &-gris
    background-color: #E8E8E8
    border-radius: 20px 20px 0px 0px 
.contenido-tarjeta
  &-amarilla
    background-color: #FFF9E2
    border-radius: 0px 0px 20px 20px 
.color
  &__rojo-claro
    background-color: #FFF1F1
    flex-wrap: wrap

.recuadro-formulas
  border-radius: 0px 50px 0px 0px
  background-color: #F8E0DA
.hr
  color: #12263F
.formula
  align-content: center
  .formula--1
.azul-claro
  background-color: #DEF1FF
.tarjeta--roja
  background-color: #F1E0DC
  width: 100%
  border-radius: 0px

.img-avatar
  width: 84px !important
.titulo-principal__numero
  background-color: $color-acento-botones
