.titulo-principal__numero
  .h3
    color: #12263F
.color
  &-primario-claro
    background-color: #FFF9E2
.titulo_tarjeta
  &-amarilla
    background-color: #fed947
    border-radius: 20px 20px 0px 0px 
  &-gris
    background-color: #E8E8E8
    border-radius: 20px 20px 0px 0px
    transition: background-color .5s
    &:hover 
      background-color: #fed947
.contenido-tarjeta
  
  &-amarilla
    background-color: #FFF9E2
    border-radius: 0px 0px 20px 20px 
    height: 80%
.color
  &__rojo-claro
    background-color: #FFF1F1
    flex-wrap: wrap

.recuadro-formulas
  border-radius: 0px 50px 0px 0px
  background-color: #F8E0DA
hr
  opacity: unset
.hr 
  background-color: #12263F !important
  height: 1.5px !important
.formula
  align-content: center
  .formula--1
.azul-claro
  background-color: #DEF1FF
.tarjeta--roja
  background-color: #F1E0DC
  width: 100%
  border-radius: 0px

.img-avatar
  width: 84px !important
.titulo-principal__numero
  background-color: $color-acento-botones
.tarjeta-Avatar
  height: 100%
.tarjeta.tarjeta--azul
  min-height: 180px
.contenedor-2
  
  .titulo_tarjeta-amarilla-2
    background-color: #fed947
    min-width: 292px
    max-height: 92px

.color-terciario
  background-color: #DEF1FF 
  &:before
    background-color: #7CC5FF 
.ml
  margin-left: -3.5% !important
.altura-bloque
  height: 250px
.small-text
  font-size: 13px !important
.formula1
  width: 135px
.b 
  font-weight: bold
    

